# Использовать строгое разрешение зависимостей
strict-peer-dependencies=false

# Предотвращать создание package-lock.json при использовании pnpm
package-lock=false

# Позволить использовать локальную установку pnpm
use-node-version=18.x 